/* Utility */
.center {
    margin: 0 auto;
    text-align: center;
}

/* Avoid Browser Defaults */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Main CSS */
.main-container { 
    padding-top: 8%;
    width: 32%;
}

.searchbar-container {
    width: 95%;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 25px;
    padding: 5px 0px;
}

.searchbar {
    width: 85%;
    border: none;
    font-size: x-large;
}

.searchbar-container .material-icons {
    color: #ccc;
    padding-top: 5px;
}

.search-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 16px;
    margin-right: 5px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #5F6368;
}

.navbar {
    overflow: hidden;
    margin-left: 15px;
    margin-right: 25px;
}

.navbar li {
    font-family: arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    padding: 10px;
    color: #5F6368;
}

.left-aligned {
    float: left;
}

.right-aligned {
    float: right;
}

.navbar .right-aligned-text {
    float: right;
    margin-top: 15px;
}

.navbar .sign-in-button {
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    padding: 7px 14px;
    font-size: 12px;
    font-weight: bold;
}

.navbar .sign-in-container {
    margin-top: 5px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.footer li {
    padding: 15px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
}