/* Utility */
.center {
    margin: 0 auto;
    text-align: center;
}
/* Avoid Browser Defaults*/
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Main CSS */
.main-container { 
    padding-top: 10%;
    width: 30%;
}

.searchbar-container {
    width: 95%;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 25px;
    padding: 5px 0px;
}

.searchbar {
    width: 85%;
    border: none;
    font-size: x-large;
}

.searchbar-container .material-icons {
    color: #ccc;
    padding-top: 5px;
}

.search-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 16px;
    margin-right: 5px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #5F6368;
}